@font-face {
  font-family: "Genshin";
  src: local("genshinfont"), url("../fonts/genshinfont.ttf") format("truetype");
}

@font-face {
  font-family: "PrimeTime";
  src: local("primetime"), url("../fonts/primetime.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0;
}

body {
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1d0b19;
}

h1 {
  font-size: 4vw;
  font-family: Genshin;
}

h2 {
  color: white;
  font-family: Genshin;
}

.char-archive {
  font-size: 4.5vw;
}

.site-title {
  font-family: PrimeTime;
  font-size: 2.5vw;
}

/*Navbar*/

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  padding: 5px 10px;
  position: relative;
}

.nav img {
  width: 3vw;
  height: 3vw;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav-elements {
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}

.icon {
  margin-top: 0.5vw;
}

.scroll-elements {
  margin: 2vw;
  font-size: 1vw;
  font-family: Genshin;
  cursor: pointer;
}

.scroll-elements:hover {
  color: rgb(255, 149, 251);
  text-shadow: 0px 0px 35px hotpink;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scroll-elements img {
  width: 1.5vw;
  height: auto;
  transform: translateY(25%);
}

/*Welcome*/

.welcome {
  color: white;
  margin-top: 22vw;
  font-size: 1.5vw;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

/*Buttons*/

.button-group {
  margin: 3vw 10vw;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vw;
  background-color: #1d0b19;
  padding: 0.5vw 1vw;
  font-size: 2vw;
}

.button-group button {
  font-family: Primetime;
  flex: 1;
  border: none;
  border-radius: 50px;
  background-color: #1d0b19;
  color: whitesmoke;
  font-size: 1.5vw;
  padding: 1vw 1vw;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-group button:first-child {
  margin-left: 0;
}

.button-group button:last-child {
  margin-right: 0;
}

.button-group button.active {
  background-color: #333;
  color: #fff;
}

.button-group button:hover {
  background-color: #a12b84;
}

.char-archive {
  color: white;
  text-align: center;
}

/*Sort by Button*/

.button-sort {
  display: flex;
  justify-content: center;
  margin-top: 4vw;
}

.button-sort button {
  cursor: pointer;
  margin: 0 3vw;
  border-radius: 4.3vw;
  padding: 0.5vw 1.5vw;
  background-color: black;
  color: white;
  opacity: 50%;
  border: 2px solid;
  border-color: white;
  font-size: 2vw;
}

.button-sort button.active {
  background-color: #333;
  color: #fff;
}

.button-sort button:hover {
  background-color: #70265e;
}

/*Character Card*/

.character-cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-cards img {
  cursor: pointer;
  border: solid 2px;
  border-color: white;
  margin: 5px;
  margin-top: 2vw;
  width: 10vw;
  height: 10vw;
  border-radius: 20px;
  transition: transform 0.2s;
  background: linear-gradient(
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 16, 42, 1) 0%,
    rgba(29, 11, 25, 1) 100%
  );
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.9);
}

.character-item {
  font-size: 1.2vw;
  color: white;
  font-family: Primetime;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.character-cards img:hover {
  transform: scale(1.1);
}

.video {
  width: 100%;
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 100%);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-inside {
  position: absolute;
  width: 100%;
  height: 20vw;
  top: 0;
  margin-top: 50px;
}

.event-container {
  display: flex;
}

.event-banner {
  width: 100%;
}

.events img {
  cursor: pointer;
  border-radius: 20px;
  max-width: 90%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.events img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.event-desc {
  font-family: Genshin;
  margin-top: 1vw;
}

.paragraph2 {
  margin-top: 16vw;
  margin-left: 2vw;
  color: white;

  font-size: 1.4vw;
  margin-right: 2vw;
}

.paragraph1 {
  margin-left: 2vw;
  color: white;
  margin-top: 10vw;
  font-size: 1.4vw;
  margin-right: 2vw;
}

.footer {
  background-size: 100%;
  background-color: #0b040a;
  background-repeat: no-repeat;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  padding-top: 3vw;
  font-size: 1vw;
  font-family: Genshin;
  color: white;
  display: flex;
  justify-content: space-between;
}
.bungkus {
  padding-top: 0;
  text-align: right;
}
.social-icons img {
  display: inline;
  margin-left: 2vw;
  width: 2vw;

  text-align: right;
}

.google-icon img {
  text-align: right;

  width: 10vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.text li {
  list-style: none;
  padding-bottom: 0.6vw;
}
.text2 {
  text-align: center;
}
.text2 li {
  list-style: none;
  padding-bottom: 0.6vw;
}

.text-left {
  text-align: left;
  display: flex;
}

.text-right {
  text-align: right;
}

@media (max-width: 767px) {
  .footer {
    font-size: 12px;
  }
}

.arrow img {
  max-width: 3vw;
  transform: translateY(-1.5vw);
  cursor: pointer;
}

/*Search Character*/

.search-character {
  margin-top: 2vw;
  font-size: 2vw;
  font-family: monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #1d0b19;
  color: white;
}

input {
  padding: 0.6vw;
  width: 20vw;
  margin-top: 1vw;
  border-radius: 30px;
}

.selection {
  width: 14vw;
  border-radius: 5vw;
  margin: 2vw;
  font-family: Genshin;
  font-size: 1.2vw;
  padding: 1vw;
  color: #4b4e56;
  background-color: #d0c9c1;
}

.char-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3vw;
}

.char-card {
  font-size: 1vw;
  justify-content: center;
  margin: auto;
  width: 50vw;
  background-color: #33102a;
  color: white;
  padding: 2vw 4vw;
  border-radius: 50px;
}

.char-card img {
  margin-top: 1vw;
  width: 15vw;
  border-radius: 20px;
}

.char-card p {
  margin: 1vw;
  font-size: 1.2vw;
  font-family: Genshin;
}

/* Banner */

.banner-img {
  margin-top: 4vw;
  max-width: 80%;
}

.banner-img img {
  border-radius: 3vw;
}

.label {
  color: white;
  font-size: 2vw;
  font-family: Genshin;
}

.filter {
  flex-wrap: wrap;
  display: flex;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

/* Nations */

.all-nations {
  margin-top: 3vw;
}

.nations {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.nations img {
  width: 100%;
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
  cursor: pointer;
  mask-image: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 16, 42, 1) 0%,
    rgba(29, 11, 25, 0) 150%
  );
}

.nations:hover img {
  filter: blur(0);
  transform: scale(1);
}

.centered-text {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  font-size: 2vw;
  font-family: Primetime;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/* Weapon Cards */

.weapon-cards img {
  cursor: pointer;
  border: solid 1px;
  border-color: white;
  margin: 5px;
  margin-top: 2vw;
  width: 10vw;
  height: 100%;
  border-radius: 20px;
  transition: transform 0.2s;
  background: linear-gradient(
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 16, 42, 1) 0%,
    rgba(29, 11, 25, 1) 100%
  );
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.9);
}

.weapon-cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weapon-item {
  font-size: 1.2vw;
  color: white;
  font-family: Primetime;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.weapon-cards img:hover {
  transform: scale(1.1);
}

.outer-image {
  position: relative;
  display: inline-block;
}

.inner-image {
  margin-top: 4vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 80vw;
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 100%);
}

.inner-image-nahida {
  margin-top: 4vw;
  max-width: 50vw;
  position: absolute;
  top: 0;
  left: 0;

  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 100%);
}

.text-topright {
  max-width: 50vw;
  margin-top: 30vw;
  margin-right: 3vw;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 2vw;
  font-family: Genshin;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.text-topright-liyue {
  max-width: 50vw;
  margin-top: 8vw;
  margin-right: 3vw;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1.5vw;
  font-family: Genshin;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.text-topright-inazuma {
  max-width: 50vw;
  margin-top: 30vw;
  margin-right: 3vw;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 2vw;
  font-family: Genshin;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.text-topright-sumeru {
  max-width: 50vw;
  margin-top: 10vw;
  margin-right: 3vw;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1.7vw;
  font-family: Genshin;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Additional styles for the sticky navbar */
}

/* SCrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #38142c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #38142c;
}

/* About Us */

.bg-art img {
  width: 100%;
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 100%);
}

.chevron {
  position: absolute;
  width: 56px;
  height: 10px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.about-us {
  color: white;
}

.about-info {
  font-family: Genshin;
  margin-top: 2vw;
  width: 50%;
  font-size: 1.3vw;
}

.body-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 98%;
  transform: translateY(-10vw);
}

.main-info {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.profile {
  width: 12vw;
  margin: 1vw;
  background-color: #fff;
  border-radius: 5%;
  padding: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  text-align: center;
}

.profile img {
  display: block;
  margin: 0 auto;
  width: 8vw;
  border: solid 0.2vw;
  border-color: #33102a;
  object-fit: cover;
  border-radius: 50%;
}

.names {
  font-size: 0.9vw;
  margin-top: 1.5vw;
  font-family: Genshin;
}

.NIM {
  font-family: Genshin;
  font-size: 0.8vw;
}

.container-info {
  position: relative;
  width: 24px;
  height: 24px;
}
